.form {
  position: relative;
  padding: 26px 0 0 34px;
  text-align: left;
}

.form > div:first-child {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 335px;
}

.form > div:first-child .labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.form > div:first-child .labelContainer time {
  color: var(--pbrown);
}
.form > div:first-child .labelContainer time span {
  color: var(--orange);
}

.form div input {
  width: 100%;
}

.form div small:global(.formError) {
  width: fit-content;
  margin-top: 6px;
}

.form > div:last-of-type {
  display: grid;
  grid-template-columns: 52% auto;
  max-width: 437px;
  margin-bottom: 1rem;
}
.form > div:last-of-type button {
  justify-self: flex-end;
}
.form > div:last-of-type p {
  font-family: "Corbel", Arial;
  color: var(--pbrown);
  height: fit-content;
  margin-top: 0.5rem;
}

.form a {
  color: var(--pbrown);
}

@media screen and (max-width: 494px) {
  .form > div:last-of-type button {
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 403px) {
  .form {
    padding: 26px 0 0 0;
  }
}
