.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--pbrown);
  text-align: left;
}

.container .banner {
  display: flex;
  justify-content: center;
}
.container .banner img {
  width: 100%;
}
@media screen and (min-width: 741px) {
  .container .banner img {
    min-width: 838px;
  }
}
@media screen and (max-width: 740px) {
  .container .banner img {
    margin-inline: calc(-70px - 70px);
    width: calc(100% + 70px + 70px)
  }
}
@media screen and (max-width: 560px) {
  .container .banner img {
    margin-inline: calc(-50px - 50px);
    width: calc(100% + 50px + 50px)
  }
}
@media screen and (max-width: 460px) {
  .container .banner img {
    margin-inline: calc(-42px - 42px);
    width: calc(100% + 42px + 42px)
  }
}

.container .carousel {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 498px;
}

.container .carousel > div[role="group"]:first-child {
  align-self: center;
  margin-bottom: 14px;
}

.container .carousel > div[role="group"]:first-child .partnerWinners {
  display: flex;
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] {
  flex-direction: column;
  gap: 1.25rem;
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="other"] {
  justify-content: space-evenly;
  gap: 1.75rem 1.25rem;
  flex-wrap: wrap;
}
/* .container .carousel > div[role="group"]:first-child .partnerWinners[data-type="other"] .item :global(.blur) {
  position: relative;
  z-index: 1;
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="other"] .item :global(.blur)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  border-radius: 50%;
  background-color: var(--white);
  z-index: -1;
} */

.container .carousel > div[role="group"]:first-child .partnerWinners ul {
  overflow: auto;
}
.container .carousel > div[role="group"]:first-child .partnerWinners ul li.winner h3 {
  word-break: break-word;
  letter-spacing: 2%;
}
.container .carousel > div[role="group"]:first-child .partnerWinners ul li.winner p {
  font-family: "Corbal", Arial;
  font-weight: 700;
  font-style: italic;
  opacity: 0.9;
}

.container .carousel > div[role="group"]:first-child .partnerWinners .item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .carousel > div[role="group"]:first-child .partnerWinners .item :global(.blur) {
  flex-shrink: 0;
  width: 105px;
  height: 105px;
  background-color: var(--white);
}
.container .carousel > div[role="group"]:first-child .partnerWinners .item ul {
  max-height: 133px;
}
.container .carousel > div[role="group"]:first-child .partnerWinners .item ul li.winner:not(:last-child) {
  margin-bottom: 0.5rem;
}
.container .carousel > div[role="group"]:first-child .partnerWinners .item ul li.winner h3 {
  font-size: 20px;
}
.container .carousel > div[role="group"]:first-child .partnerWinners .item ul li.winner p {
  font-size: 12px;
}

.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section {
  display: flex;
}

.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge {
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge :global(.blur) {
  flex-shrink: 0;
  width: 215px;
  height: 215px;
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge > p {
  color: var(--pbrown);
}

.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge ul {
  max-height: 251px;
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge ul li.winner:not(:last-child) {
  margin-bottom: 1rem;
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge ul li.winner h3,
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge > p {
  font-size: var(--heading-28);
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge ul li.winner h3 span {
  color: var(--status-green);
}
.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge ul li.winner p {
  font-size: 1rem;
}

.container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.raffle {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.container .carousel :global(#indicators) {
  margin-inline: -0.5rem;
  overflow: auto;
}
.container .carousel :global(#indicators) > button {
  flex-shrink: 0;
}
.container .carousel :global(#indicators) > div {
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  min-height: 80px;
  padding-inline: 0.5rem;
  margin-inline: 0.5rem;
  overflow-x: auto;
}
.container .carousel :global(#indicators) > div button {
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  outline: 3px solid transparent;
  transition: 0.38s ease-in-out outline-color;
}
.container .carousel :global(#indicators) > div button[aria-pressed="true"] {
  outline-color: var(--form-red);
}

@media screen and (max-width: 867px) {
  .container .carousel :global(#indicators) {
    justify-content: center;
  }
  .container .carousel :global(#indicators) > div {
    width: initial;
  }
  .container .carousel :global(#indicators) > button {
    display: none;
  }
}

@media screen and (max-width: 535px) {
  .container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] {
    gap: 2.25rem;
  }

  .container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge {
    flex-wrap: wrap;
  }
  .container .carousel > div[role="group"]:first-child .partnerWinners[data-type="main"] section.challenge ul {
    overflow: initial;
    max-height: none;
  }
}
