.trigger {
  background: url("/images/btn_question_normal.webp") no-repeat center center/contain;
}

.container {
  display: flex;
  flex-direction: column;
  color: var(--pbrown);
  text-align: center;
}
.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h2 {
  font-size: var(--heading-38);
  margin-bottom: 32px;
}
.container div p {
  font-size: 21px;
  max-width: 80%;
}
.container p a:first-child {
  display: block;
  width: fit-content;
  margin-inline: auto;
  font-family: "Corbel", Arial;
  font-size: 21px;
  font-weight: 700;
  text-decoration: underline;
  color: #895734d7;
  cursor: pointer;
}
.container div p:first-child a {
  margin-block: 6px 24px;
}
.container div p:last-child a {
  margin-block: 6px 0;
}
